/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  $body-font-family: ('Manrope', sans-serif),
  $heading-font-family: ('Manrope', sans-serif),
  $border-radius-root: 8px,
  $button-text-transform: none,
  $button-font-weight: 600,
);
